/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .content-container {
        max-width: 100%;
    }
    .content-container .content .page-header{
        width: 450px;
    }
    .content-container .content-wrapper {
        width: 150%;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .content-container {
        max-width: 100%;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .content-container {
        max-width: 100%;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .content-container {
        max-width: 100%;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .content-container {
        max-width: 100%;
    }
}
